AddDefaultCharset UTF-8
SetEnv LANG ja_JP.utf-8

DirectoryIndex index.php index.py index.cgi index.html index.htm

<Files ~ "\.(zip|xls|gz|pdf|xlsx|docx)$">
	Header add Pragma "no-cache"
	Header set Cache-Control no-cache
</Files>


<IfModule mod_mime.c>
	AddType font/opentype         .otf
	AddType font/eot              .eot
	AddType font/truetype         .ttf
	AddType application/font-woff .woff
</IfModule>
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE font/opentype font/eot font/truetype application/font-woff
</IfModule>
<Files ~  "\.(?i:(otf|ttf|eot|woff)(\.gz)?)$">
    ExpiresDefault A25920000
</Files>

